:root ;
.link {
  text-decoration: none;
}

/* Header section */

.header {
}
.header-logo {
}
.link {
}
.header-studio {
}
.header-list {
}
.header-item {
}
.contact-list {
}
.contact-item {
}
.contact {
}

/* Hero section */

.hero-section {
}
.hero-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.hero-btm {
}

/* Work section */

.work-section {
}
.work-list {
}
.work-item {
}
.work-title {
}
.work-uperrtitle {
}

/* Studio section */

.studio-section {
}
.studio-title {
}
.studio-list {
}
.studio-item {
}

/* Portfolio section */

.portfolio-section {
}
.portfolio-title {
}
.portfolio-list {
}
.portfolio-item {
}
.portfolio-name {
}
.portfolio-uperrtitle {
}

/* Footer section */

.footer {
}
.footer-link {
  width: 44px;
  height: 21px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.footer-span-logo {
  width: 71px;
  height: 21px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
  flex: none;
  order: 1;
  flex-grow: 0;
}
.footer-undertitle {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
